micronaut:
  application:
    name: recce
flyway:
  datasources:
    default:
      url: jdbc:postgresql://localhost:5432/postgres
      driverClassName: org.postgresql.Driver
      username: postgres
      password: ''
      schema-generate: CREATE_DROP
      dialect: POSTGRES